.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 500px;
  padding: 10px;
}

.search-data-list {
  width: 500px;
  border: 1px solid black;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

.search-data-list > span {
  padding: 5px;
  cursor: pointer;
}

.search-data-list > span:hover {
  background-color: #3f3f3f36;
}

.search-selected-result-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: 500px;
  border: 1px solid black;
  padding: 10px;
  max-height: 800px;
  overflow: auto;
}

.search-selected-result-card > img {
  height: 150px;
  width: 150px;
}

.selected-result-card-tag {
  margin-right: 10px;
  border-radius: 10px;
}

.selected-result-card-instruction-container {
  margin: 1rem;
}

summary {
  cursor: pointer;
}
